.idea/SentiNet.iml
cmake-build-debug/libSentiNet.a
cmake-build-debug/SentiNet.cbp
cmake-build-debug/TestSentiNet
cmake-build-debug/turkish_sentinet.xml
cmake-build-debug/CMakeFiles/SentiNet.dir/build.make
cmake-build-debug/CMakeFiles/SentiNet.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/SentiNet.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/SentiNet.dir/CXX.includecache
cmake-build-debug/CMakeFiles/SentiNet.dir/depend.internal
cmake-build-debug/CMakeFiles/SentiNet.dir/depend.make
cmake-build-debug/CMakeFiles/SentiNet.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/SentiNet.dir/flags.make
cmake-build-debug/CMakeFiles/SentiNet.dir/link.txt
cmake-build-debug/CMakeFiles/SentiNet.dir/progress.make
cmake-build-debug/CMakeFiles/SentiNet.dir/SentiNet.cpp.o
cmake-build-debug/CMakeFiles/SentiNet.dir/SentiSynSet.cpp.o
cmake-build-debug/CMakeFiles/TestSentiNet.dir/build.make
cmake-build-debug/CMakeFiles/TestSentiNet.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestSentiNet.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/TestSentiNet.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestSentiNet.dir/depend.internal
cmake-build-debug/CMakeFiles/TestSentiNet.dir/depend.make
cmake-build-debug/CMakeFiles/TestSentiNet.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestSentiNet.dir/flags.make
cmake-build-debug/CMakeFiles/TestSentiNet.dir/link.txt
cmake-build-debug/CMakeFiles/TestSentiNet.dir/progress.make
cmake-build-debug/CMakeFiles/TestSentiNet.dir/SentiNet.cpp.o
cmake-build-debug/CMakeFiles/TestSentiNet.dir/SentiSynSet.cpp.o
cmake-build-debug/CMakeFiles/TestSentiNet.dir/TestSentiNet.cpp.o
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
